@using MoviesTime.Contract.ViewModels;
@model ManageTheaterScreensViewModel

<div class="container mx-2 pt-3">
    <form method="post">
        <legend> @(Model.selectedTheaterID == 0 ? "Select a Theater" : "Theater Screen Details")</legend>
        <div class="form-group row mx-1">
            <div class="col-md-4 row pt-md-2 mx-1">
                <label class="col-md-4 col-form-label">Theater Name</label>
                <div class="col-md-8">
                    <select class="form-select" name="selectedTheaterID" asp-items="Model.selectTheaterList" asp-for="selectedTheaterID"></select>
                </div>
            </div>
            <div class="col-md-4 row pt-md-2 mx-1">
                <button type="SubmitAction" asp-action="GetTheaterScreens" class="btn btn-primary text-center col-md-3">Search</button>
            </div>
        </div>

        @*Theater Screens Section*@
        <legend> @(0 == 0 ? "Add Theater Screen" : "Update Theater Screen")</legend>
        <div class="form-group row mx-1">
            <div class="col-md-4 row pt-md-2">
                <label class="col-form-label col-md-4">Theater Screen</label>
                <div class="col-md-8">
                    <input id="theaterScreenName" class="form-control" placeholder="Enter Theater Screen" 
                    name="theaterScreen.ScreenName" asp-for="theaterScreen.ScreenName" />
                </div>
            </div>
        </div>
        <div class="form-group row mx-1 pt-3">
            <div class="col-md-8 row pt-md-2">
                <label class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <textarea id="theaterScreenDescription" class="form-control" placeholder="Enter Screen Description (Optional)"
                              name="theaterScreen.ScreenDescription" asp-for="theaterScreen.ScreenDescription">
                    </textarea>
                </div>
            </div>
            @*<div class="visually-hidden">
                @* to store value of theater ID in Edit scenario //
                <input id="theaterID" />
            </div>*@
            @*
            <div class="col-md-4">
            <label for="staticEmail" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-2">
            <input id="movieName" class="form-control" placeholder="Enter Movie Name" />
            </div>
            </div>
            *@
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group row col-md-8 mx-1 pt-3">
            <div class="text-center">
                <button type="SubmitAction" asp-action="CreateTheaterScreen" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="container mx-5 pt-4">
    @if (Model.theaterScreensList == null)
    {
        <h2>No Theaters Found</h2>
    }else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Screen ID
                    </th>
                    <th>
                        Screen Name
                    </th>
                    <th>
                        Screen ID
                    </th>
                    <th>
                        Theater Contact
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.theaterScreensList)
                {
                    <tr>
                        <td>
                            @item.TheaterID
                        </td>
                        <td>
                            @item.ScreenName
                        </td>
                        <td>
                            @item.ScreenID
                            @*@(item.IsAdmin == true ? "Admin" : "Customer")*@
                        </td>
                        <td>
                          @*  @item.TheaterContact*@
                        </td>
                        <td>
                            <a asp-area="TheaterManager" asp-controller="ManageTheaterScreens" asp-action="EditTheaterScreen" asp-route-id="@item.ScreenID"><i class="bi bi-pencil-square">Edit</i></a>
                        </td>
                        <td>
                            @* Delete function with popup *@
                            <a id="btnDelete" data-id="@item.ScreenID" class="btn btn-danger btn-sm delete-button" style="margin-left: 5px">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @{
        var deleteConfirmationModel = new DeleteConfirmationModel
            {
                EntityName = "theaterScreen",
                Action = "DeleteTheaterScreen",
                Controller = "ManageTheaterScreens",
                EntityDataID = "ScreenID"
            };
        <partial name="../_DeleteConfirmation" model="deleteConfirmationModel" />
    }
    
    
</div>

