@using MoviesTime.Contract.ViewModels;
@model ManageMoviesViewModel

<div class="container mx-2 pt-3">
    <form method="post" enctype="multipart/form-data">
        <legend> @(!Model.isMovieEditMode ? "Add new Movie" : "Edit Movie Details")</legend>
        <div class="form-group row mx-1">
            <div class="col-md-4 row pt-md-2">
                <label class="col-form-label col-md-4" asp-for="movieDetails.MovieTitle">Movie Title</label>
                <div class="col-md-8">
                    <input id="movieTitle" class="form-control" placeholder="Enter Movie Title"
                           name="movieDetails.MovieTitle" asp-for="movieDetails.MovieTitle" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.movieGenres" class="control-label">Genre</label>
            <br />
            @foreach (var genre in Model.genreList)
            {
                <input type="checkbox" name="SelectedGenres" value="@genre.ID"
                @(Model.movieGenres != null && Model.movieGenres.Any(g => g.ID == genre.ID && g.IsChecked) ? "checked" : "") /> @genre.GenreName
                <br />
            }
            <span asp-validation-for="movieGenres" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.movieLanguages" class="control-label">Languages</label>
            <br />
            @foreach (var lang in Model.languageList)
            {
                <input type="checkbox" name="SelectedLanguages" value="@lang.LanguageID"
                @(Model.movieLanguages != null && Model.movieLanguages.Any(g => g.ID == lang.LanguageID && g.IsChecked) ? "checked" : "") /> @lang.Language
                <br />
            }
            <span asp-validation-for="movieLanguages" class="text-danger"></span>
        </div>

        <div class="form-group row col-md-8 mx-1 pt-3">
            <div class="text-center">
                <button type="SubmitAction" asp-action="CreateMovie" class="btn btn-primary">Create Movie</button>
            </div>
        </div>
        @* Fieldset for storing Edit Data *@
        <div>
            <fieldset>
                <input id="sessMovieID" asp-for="movieDetails.MovieID" hidden="hidden" />
                @* <input id="sessGenreName" asp-for="genre.GenreName" hidden="hidden" /> *@
                <input id="sessMovieEditMode" asp-for="isMovieEditMode" hidden="hidden" />
            </fieldset>
        </div>
    </form>
</div>

<div class="container mx-5 pt-4">
    @if (0 == 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Movie ID
                    </th>
                    <th>
                        Movie Title
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.moviesList)
                {
                    <tr>
                        <td>
                            @item.MovieID
                        </td>
                        <td>
                            @item.MovieTitle
                        </td>
                        <td>
                            <a asp-area="TheaterManager" asp-controller="ManageMovies" asp-action="EditMovies" asp-route-id="@item.MovieID"><i class="bi bi-pencil-square">Edit</i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>No movies found</h2>
    }
</div>

@*  < ul >
            @for (var i = 0; i < Model.movieGenres.Count; i++)
                {
                    < li >
                        < input type = "checkbox" asp -for= "@Model.movieGenres[i].IsChecked" />
                        < label asp -for= "@Model.movieGenres[i].IsChecked" > @Model.genreList[i].GenreName </ label >
                        < input type = "hidden" asp -for= "@Model.movieGenres[i].ID" />
                        < input type = "hidden" asp -for= "@Model.genreList[i].GenreName" />
                    </ li >
                }

        </ ul >*@
@*@foreach (var genre in Model.genreList)
        {
            <div class="form-check">
                @{
                    bool isChecked = false;
                    if (Model.isMovieEditMode && Model.movieGenres != null)
                    {
                        isChecked = Model.movieGenres.Single(g => g.ID == genre.ID).IsChecked;
                    }
                }
                <input type="checkbox" asp-for="@isChecked" value="@genre.ID" />
                <label class="form-check-label">@genre.GenreName</label>
            </div>
        }*@