@model ManageTheatersViewModel

<div class="container mx-2 pt-3">
    <form method="post">
        <legend> @(Model.isEditMode == false ? "Add new theater" : "Edit Theater Details")</legend>
        <div class="form-group row mx-1">
            <div class="col-md-4 row pt-md-2">
                <label class="col-form-label col-md-4" asp-for="theater.TheaterName">Theater Name</label>
                <div class="col-md-8">
                    <input id="theaterName" class="form-control" placeholder="Enter Theater Name"
                           name="theater.TheaterName" asp-for="theater.TheaterName" />
                </div>
            </div>
            <div class="col-md-4 row pt-md-2 mx-1">
                <label class="col-md-4 col-form-label" asp-for="theater.ManagerID">Manager ID</label>
                <div class="col-md-8">
                    <select asp-items="Model.lstUsers" name="theater.ManagerID" asp-for="theater.ManagerID" class="form-select"></select>
                </div>
            </div>
        </div>
        <div class="form-group row mx-1 pt-3">
            <div class="col-md-8 row pt-md-2">
                <label class="col-md-2 col-form-label" asp-for="theater.TheaterContact">Theater Contact</label>
                <div class="col-md-10">
                    <textarea id="theaterContact" class="form-control" placeholder="Enter Theater Contact"
                              name="theater.TheaterContact" asp-for="theater.TheaterContact">
                    </textarea>
                </div>
            </div>
            <div class="visually-hidden">
                @* to store value of theater ID in Edit scenario*@
                <input id="theaterID" asp-for="theater.TheaterID" />
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="form-group row col-md-8 mx-1 pt-3">
            <div class="text-center">
                <button type="SubmitAction" asp-action="CreateTheater" class="btn btn-primary">Submit</button>
            </div>
        </div>

    </form>
</div>

<div class="container mx-5 pt-4">
    @if (Model.lstTheaters == null)
    {
        <h2>No Theaters Found</h2>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Theater ID
                    </th>
                    <th>
                        Theater Name
                    </th>
                    <th>
                        Manager ID
                    </th>
                    <th>
                        Theater Contact
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstTheaters)
                {
                    <tr>
                        <td>
                            @item.TheaterID
                        </td>
                        <td>
                            @item.TheaterName
                        </td>
                        <td>
                            @item.ManagerID
                            @*@(item.IsAdmin == true ? "Admin" : "Customer")*@
                        </td>
                        <td>
                            @item.TheaterContact
                        </td>
                        <td>
                            <a asp-area="TheaterManager" asp-controller="ManageTheaters" asp-action="EditTheater" asp-route-id="@item.TheaterID">
                                <i class="bi bi-pencil-square">Edit</i></a>
                        </td>
                        <td>
                            @* Delete function with popup *@
                            <a id="btnDelete" data-id="@item.TheaterID" class="btn btn-danger btn-sm delete-button" style="margin-left: 5px">
                                <i class="fa fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @{
        var deleteConfirmationModel = new DeleteConfirmationModel
            {
                EntityName = "theater",
                Action = "DeleteTheater",
                Controller = "ManageTheaters",
                EntityDataID = "TheaterID"
            };
        <partial name="../_DeleteConfirmation" model="deleteConfirmationModel" />
    }
</div>

